# systemctl list-units #--all --full | grep ".device"
# http://patrakov.blogspot.cz/2011/01/writing-systemd-service-files.html
# systemctl daemon-reload
# systemctl start cwudp.service
# systemctl enable cwudp.service
# 
# 


[Unit]
Description=Band decoder

[Service]
Type=simple
    #forking
PIDFile=/var/run/bd.pid
ExecStart=/home/pi/remoteqth/script/band.sh start
#> /dev/null 2>&1 &
ExecStop=/home/pi/remoteqth/script/band.sh stop
#Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
