# systemctl list-units #--all --full | grep ".device"
# http://patrakov.blogspot.cz/2011/01/writing-systemd-service-files.html
# systemctl daemon-reload
# systemctl start cwudp.service
# systemctl enable cwudp.service
# 
# 


[Unit]
Description=CW to UDP via socat

[Service]
Type=simple
    #forking
PIDFile=/var/run/cwudp.pid
ExecStart=/home/pi/remoteqth/script/cwudp.sh start
ExecStop=/home/pi/remoteqth/script/cwudp.sh stop
#Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
